
@{
    ViewBag.Title = "Index";
}

<html>


<body style="text-align:center">

    <h2>Television Program</h2>

    <br />
    <br />

    @Html.ActionLink("Add TV Channel", "AddTVChannel")

    <br />
    <br />

    @Html.ActionLink("Add TV Program","AddTVProgram")

    <br />
    <br />

    @Html.ActionLink("Choose Channel Type and get Program Details", "TVProgramByChanelType")

</body>
</html>

